/bin/

# Windows 시스템 파일 무시
*.log
*.dat
*.ini

# Windows 기본 디렉토리 무시
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/

# VirtualBox 관련 파일 무시
.Ld9VirtualBox/

# 기타 개인 환경 설정 파일 무시
.gitconfig
.gk/
.gnupg/
.lesshst
.vuerc
mumu_boot.txt